.login {
    background-color:#9767F5;
    position: fixed;
    width: 1920px;
    height: 1024px;
    overflow: scroll;
    left: 0;
    top: 0;
}

.logo 
{
    position: absolute;
    width: 212px;
    height: 159px;
    left: 18.67px;
    top: 0px;
}

.abstract
{
    position: absolute;
    width: 728px;
    height: 680px;
    left: 94px;
    top: 110px;
}

.confetti
{
    position: absolute;
    width: 960px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.accessContent 
{
    position: absolute;
    width: 390.67px;
    height: 108px;
    left: 170.67px;
    top: 790px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;
}

.loginText 
{
    position: absolute;
    width: 190.67px;
    height: 72px;
    left: 1149px;
    top: 110px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */


    color: #313131;
}

.noAccount
{
    position: absolute;
    width: 446.67px;
    height: 27px;
    left: 1149px;
    top: 195px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(49, 49, 49, 0.6);
}

.white
{
    position: absolute;
    width: 960px;
    height: 1024px;
    left: 960px;
    top: 0px;

    background: #FFFFFF;
}

.loginBtn
{
    position: absolute;
    width: 579.7px;
    height: 67px;
    left: 1150.15px;
    top: 613px;

    background: #9767F5;
    border-radius: 15px;
    border: 0px solid #9767F5;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
    cursor:pointer;
}

.googleBtn
{
    position: absolute;
    width: 580.85px;
    height: 70px;
    left: 1149px;
    top: 828px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;

    cursor:pointer;
}

.googleText
{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 185.96px;
    top: 17px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;
}

.googleLogo
{
    position: absolute;
    width: 39x;
    height: 39px;
    left: 114.79px;
    top: 16px;
    z-index: 1;
}

.emailText 
{
    position: absolute;
    width: 145.79px;
    height: 33px;
    left: 1150.15px;
    top: 294px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.emailInput
{
    position: absolute;
    width: 580.85px;
    height: 70px;
    left: 1150.15px;
    top: 327px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.passwordText 
{
    position: absolute;
    width: 145.79px;
    height: 33px;
    left: 1150.15px;
    top: 433px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;

}

.passwordInput
{
    position: absolute;
    width: 580.85px;
    height: 70px;
    left: 1150.15px;
    top: 466px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.forgotPassword
{
    position: absolute;
    width: 235.33px;
    height: 27px;
    left: 1495.67px;
    top: 547px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}

.lines
{
    position: absolute;
    width: 579.7px;
    height: 1px;
    left: 1150.15px;
    top: 750px;
}

.orText
{
    position: absolute;
    width: 21.81px;
    height: 27px;
    left: 1430.24px;
    top: 736px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.2);
}

.errorMessage
{
    position: absolute;
    width: 580px;
    height: 33px;
    left: 1150px;
    top: 574px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color:red
}

.cross
{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1832px;
    top: 9px;
    z-index: 1;
}

.signup {
    background-color:#F5EAF9;
    position: fixed;
    width: 1920px;
    height: 1024px;
    overflow: scroll;
    left: 0;
    top: 0;
}

.logoReg
{
    position: absolute;
    width: 212px;
    height: 159px;
    left: 13.33px;
    top: 0px;
    z-index: 1;
}

.personReg
{
    position: absolute;
    width: 555px;
    height: 547px;
    left: 171px;
    top: 205px;
}

.confettiReg
{
    position: absolute;
    width: 960px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.whiteReg
{
    position: absolute;
    width: 960px;
    height: 1024px;
    left: 960px;
    top: 0px;
    z-index: -1;

    background: #FFFFFF;
}

.joinUsReg
{
    position: absolute;
    width: 414.67px;
    height: 108px;
    left: 171px;
    top: 768px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: #BE8CD0;
}

.registerTextReg
{
    position: absolute;
    width: 272px;
    height: 72px;
    left: 1152px;
    top: 64px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    color: #313131;
}

.alreadyHaveAccountReg
{
    position: absolute;
    width: 385.33px;
    height: 27px;
    left: 1152px;
    top: 149px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(49, 49, 49, 0.6);
}

.usernameTextReg
{
    position: absolute;
    width: 144.2px;
    height: 33px;
    left: 1152px;
    top: 205px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.usernameInputReg
{
    position: absolute;
    width: 574.53px;
    height: 53px;
    left: 1152px;
    top: 238px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.emailTextReg
{
    position: absolute;
    width: 144.2px;
    height: 33px;
    left: 1153.14px;
    top: 302px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.emailInputReg
{
    position: absolute;
    width: 574.53px;
    height: 53px;
    left: 1153.14px;
    top: 335px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.confirmEmailTextReg
{
    position: absolute;
    width: 144.2px;
    height: 33px;
    left: 1153.14px;
    top: 399px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.confirmEmailInputReg
{
    position: absolute;
    width: 574.53px;
    height: 53px;
    left: 1153.14px;
    top: 432px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.passwordTextReg
{
    position: absolute;
    width: 144.2px;
    height: 33px;
    left: 1152px;
    top: 496px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.passwordInputReg
{
    position: absolute;
    width: 574.53px;
    height: 53px;
    left: 1152px;
    top: 529px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.confirmPasswordTextReg
{
    position: absolute;
    width: 212.33px;
    height: 33px;
    left: 1153.14px;
    top: 593px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.confirmPasswordInputReg
{
    position: absolute;
    width: 574.53px;
    height: 53px;
    left: 1153.14px;
    top: 626px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.registerBtnReg
{
    position: absolute;
    width: 573.4px;
    height: 67px;
    left: 1152px;
    top: 734px;

    background: #9767F5;
    border-radius: 15px;
    border: 0px solid #9767F5;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    color: #FFFFFF;
    cursor:pointer;
}

.googleBtnReg
{
    position: absolute;
    width: 574.53px;
    height: 70px;
    left: 1152px;
    top: 881px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;

    cursor:pointer;
}

.googleTextReg
{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 185.96px;
    top: 17px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;
}

.googleLogoReg
{
    position: absolute;
    width: 39x;
    height: 39px;
    left: 114.79px;
    top: 16px;
    z-index: 1;
}

.linesReg
{
    position: absolute;
    width: 573.4px;
    height: 1px;
    left: 1153.14px;
    top: 841px;
}

.orTextReg
{
    position: absolute;
    width: 21.57px;
    height: 27px;
    left: 1430.18px;
    top: 827px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.2);
}

.errorMessageReg
{
    position: absolute;
    width: 572px;
    height: 33px;
    left: 1153px;
    top: 695px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: red;
}

.crossReg
{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1832px;
    top: 9px;
}

.resetPasswordForgot
{
    position: absolute;
    width: 518px;
    height: 96px;
    left: 701px;
    top: 275px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height */

    color: #313131;
}

.logoForgot 
{
    position: absolute;
    width: 212px;
    height: 159px;
    left: 18.67px;
    top: 0px;
}

.textDescriptionForgot
{
    position: absolute;
    width: 846px;
    height: 36px;
    left: 537px;
    top: 401px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: rgba(49, 49, 49, 0.6);
}

.textExampleForgot
{
    position: absolute;
    width: 290px;
    height: 33px;
    left: 538px;
    top: 509px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.emailInputForgot
{
    position: absolute;
    width: 845px;
    height: 71px;
    left: 538px;
    top: 542px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.notAMemberForgot
{
    position: absolute;
    width: 262px;
    height: 27px;
    left: 1528px;
    top: 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(49, 49, 49, 0.6);
}

.backForgot
{
    position: absolute;
    width: 126px;
    height: 67px;
    left: 1093px;
    top: 641px;

    border: 4px solid #9767F5;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 11px 29px;
    text-decoration: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #9767F5;
}

.sendForgot
{
    position: absolute;
    width: 126px;
    height: 67px;
    left: 1257px;
    top: 641px;

    background: #9767F5;
    border-radius: 15px;
    border: 0px solid #9767F5;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
    cursor:pointer;
}

.messageForgot
{
    position: absolute;
    width: 845px;
    height: 33px;
    left: 538px;
    top: 468px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

/* ###################### Top nav stuff ###################### */
.logoTop
{
    position: absolute;
    width: 242.67px;
    height: 160px;
    left: 0px;
    top: 50px;
}

.topNav
{
    position: absolute;
    width: 1920px;
    height: 225.33px;
    left: 0px;
    top: -49px;

    background: linear-gradient(290.51deg, #7242F2 3.54%, #9969F5 91.26%);
    border-radius: 30px;
    z-index: -1;
}

.homeBtn
{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 241.33px;
    top: 97.33px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}


.aboutBtn
{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 401.33px;
    top: 97.33px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}

.addBtn
{  
    position: absolute;
    width: 98.67px;
    height: 98.67px;
    left: 910.67px;
    top: 79.7px;
}

.bellBtn
{
    position: absolute;
    width: 62.67px;
    height: 60px;
    left: 1653.33px;
    top: 97.33px;

    opacity: 0.7;
}

.profileBtn
{
    position: absolute;
    width: 117.33px;
    height: 117.33px;
    left: 1756px;
    top: 78.67px;
    cursor: pointer;

    box-sizing: border-box;
}

/* ###################### Survey block stuff ###################### */
.surveyBox
{
    position: absolute;
    width: 480.06px;
    height: 284.61px;
    left: 0px;
    top: 0px;

    background: #DAF3F9;
    border-radius: 30px;
}

.cardTitle
{
    position: absolute;
    width: 204.6px;
    height: 32px;
    left: 33.15px;
    top: 27.43px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 116.66%;
    /* or 28px */


    color: #371294;
}

.cardDesc
{
    position: absolute;
    width: 274.32px;
    height: 80.01px;
    left: 33.15px;
    top: 73.15px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 116.66%;
    /* or 21px */


    color: #371294;
}

.cardCredit
{
    position: absolute;
    width: 122.67px;
    height: 24px;
    left: 333.74px;
    top: 73.15px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 116.66%;
    /* or 21px */

    display: flex;
    align-items: center;

    color: #371294;
}

.cardTime
{
    position: absolute;
    width: 68.58px;
    height: 27.43px;
    left: 379.47px;
    top: 102.86px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 116.66%;
    /* or 21px */

    display: flex;
    align-items: center;

    color: #371294;
}

.cardPeopleText
{
    position: absolute;
    width: 40px;
    height: 27.43px;
    left: 379.47px;
    top: 136.02px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 116.66%;
    /* or 21px */

    display: flex;
    align-items: center;

    color: #371294;
}

.cardTags
{
    position: absolute;
    width: 235.46px;
    height: 69.72px;
    left: 32.02px;
    top: 181.73px;
}

.cardLikes
{
    position: absolute;
    width: 121.16px;
    height: 27.43px;
    left: 322.33px;
    top: 221.74px;
}

.cardPeople
{
    position: absolute;
    width: 29.71px;
    height: 27.43px;
    left: 333.34px;
    top: 136.02px;
}

.cardClock
{
    position: absolute;
    width: 29.74px;
    height: 27.43px;
    left: 333.77px;
    top: 102.86px;
}

.cardDiv
{
    position: absolute;
    width: 480.06px;
    height: 284.61px;
    left: 208.24px;
    top: 1400px;
}

/* ###################### ###################### */
.balanceTop
{
    position: absolute;
    width: 132px;
    height: 40px;
    left: 1474.67px;
    top: 104px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.7);
}

.loggedInHome
{
    position: absolute;
    width: 1920px;
    height: 1260px;
    left: 0px;
    top: -59px;
    z-index: -2;

    background: linear-gradient(290.51deg, #7242F2 3.54%, #9969F5 91.26%);
    border-radius: 50px;
}

.startText
{
    position: absolute;
    width: 781px;
    height: 83px;
    left: 124px;
    top: 348px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 128.5%;
    /* identical to box height, or 82px */

    text-align: center;

    color: #FFFFFF;
}

.surveysText
{
    position: absolute;
    width: 781px;
    height: 85px;
    left: 124px;
    top: 533px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 128.5%;
    /* or 93px */

    text-align: center;

    color: #FFFFFF;
}

.homeDescText
{
    position: absolute;
    width: 884px;
    height: 196.03px;
    left: 192px;
    top: 666.72px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;

    color: #FFFFFF;
}

.arrow
{
    position: absolute;
    width: 97.33px;
    height: 95.44px;
    left: 916px;
    top: 1094.92px;
}

.dogPerson
{
    position: absolute;
    width: 712px;
    height: 794.32px;
    left: 1084px;
    top: 308.88px;
}

.searchBar
{
    position: absolute;
    width: 989.33px;
    height: 80px;
    left: 239px;
    top: 1276px;
}

.homeShuffleBtn
{
    position: absolute;
    width: 233.33px;
    height: 80px;
    left: 1446px;
    top: 1280px;

    background: #7242F2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;

    font-family: open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    padding: 22px;
    text-align: center;
    text-decoration: none;

    box-sizing: border-box;

    color: #FFFFFF;
}

.helpText
{
    position: absolute;
    width: 829px;
    height: 53px;
    left: 538px;
    top: 1436px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 116.66%;
    /* or 42px */

    text-align: center;

    color: #9868F5;
}

/* ###################### upload Survey page ###################### */
.upload-title {
    position: absolute;
    width: 461.33px;
    height: 44px;
    left: 729px;
    top: 211px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 116.66%;
    /* or 42px */
    color: #000000;
}
::placeholder {
    color: #C5AEF9;
    font-size: 24px;
  }
  
input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 116.66%;
    /* or 23px */
}
.left-survey {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116.66%;
    /* or 23px */
    color: #000000;
}

.survey-link {
    position: absolute;
    width: 572px;
    height: 93px;
    left: 133px;
    top: 289px;
}
#surveyLinkInput {
    position: absolute;
    width: 572px;
    height: 60px;
    left: 133px;
    top: 322px;
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
}
.estimated-time {
    position: absolute;
    width: 572px;
    height: 85.67px;
    left: 133.33px;
    top: 400px;
}
#timeInput{
    position: absolute;
    width: 132px;
    height: 45px;
    left: 133.33px;
    top: 440.67px;
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
}
.max-participants {
    position: absolute;
    width: 572px;
    height: 85px;
    left: 133px;
    top: 507px;
}
#participantsInput {
    position: absolute;
    width: 132px;
    height: 45px;
    left: 133.33px;
    top: 547px;
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
}
.boost {
    position: absolute;
    width: 572.33px;
    height: 145px;
    left: 133px;
    top: 612px;
}



.noBoostBtn {
    position: absolute;
    width: 259px;
    height: 45px;
    left: 133px;
    top: 657px;
    background: #FFFFFF;
    border: 1px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
 
    color: #C5AEF9;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116.66%;
    color: #C5AEF9;
    cursor: pointer;
}
.yesBoostBtn {
    position: absolute;
    width: 132px;
    height: 45px;
    left: 133px;
    top: 712px;
    background: #FFFFFF;
    border: 1px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
    color: #C5AEF9;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116.66%;
    color: #C5AEF9;
    cursor: pointer;
}
.uploadBtn {
    position: absolute;
    width: 340px;
    height: 97.33px;
    left: 1457px;
    top: 850px;
    background: #7242F2;
    border-radius: 17px;
    border: 0px solid #9767F5;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.right-survey {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116.66%;
    /* or 23px */
    color: #000000;
}
.survey-name {
    position: absolute;
    width: 950px;
    height: 93px;
    left: 847px;
    top: 289px;
}
#surveyNameInput {
    position: absolute;
    width: 950px;
    height: 60px;
    left: 847px;
    top: 322px;
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
}
.survey-description {
    position: absolute;
    width: 950px;
    height: 136px;
    left: 847px;
    top: 402px;
}
#surveyDescriptionInput {
    position: absolute;
    width: 950px;
    height: 101px;
    left: 847px;
    top: 437px;
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 116.66%;
}
.survey-tags {
    position: absolute;
    width: 950px;
    height: 82px;
    left: 847px;
    top: 560px;
}
#surveyTagInput {
    position: absolute;
    width: 950px;
    height: 60px;
    left: 847px;
    top: 593px;
    
    background: #FFFFFF;
    border: 3px solid #7343F2;
    box-sizing: border-box;
    border-radius: 100px;
}

.lower-button {
}
.cancelBtn {
    position: absolute;
    width: 340px;
    height: 97.33px;
    left: 1092px;
    top: 850px;

    background: #FFFFFF;
    border-radius: 17px;
    border: 0px solid #9767F5;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: rgba(114, 66, 242, 0.5);
    cursor: pointer;
}
.uploadBtn {
    position: absolute;
    width: 340px;
    height: 97.33px;
    left: 1457px;
    top: 850px;

    background: #7242F2;
    border-radius: 17px;
    border: 0px solid #9767F5;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

