body {
    background-color:#9767F5;
    ;
}

.logo 
{
    position: absolute;
    width: 159px;
    height: 159px;
    left: 14px;
    top: 0px;
}

.abstract
{
    position: absolute;
    width: 644px;
    height: 680px;
    left: 38px;
    top: 110px;
}

.confetti
{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.accessContent 
{
    position: absolute;
    width: 293px;
    height: 108px;
    left: 128px;
    top: 790px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;

}

.loginText 
{
    position: absolute;
    width: 143px;
    height: 72px;
    left: 826px;
    top: 123px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    color: #313131;
}

.noAccount
{
    position: absolute;
    width: 335px;
    height: 27px;
    left: 826px;
    top: 208px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(49, 49, 49, 0.6);
}

.white
{
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 720px;
    top: 0px;

    background: #FFFFFF;
}

.loginBtn
{
    position: absolute;
    width: 505px;
    height: 67px;
    left: 826px;
    top: 613px;

    background: #9767F5;
    border-radius: 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    color: #FFFFFF;
    cursor:pointer;
}

.googleBtn
{
    position: absolute;
    width: 506px;
    height: 70px;
    left: 825px;
    top: 828px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;

    cursor:pointer;
}

.googleText
{
    position: absolute;
    width: 231px;
    height: 36px;
    left: 162px;
    top: 17px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.googleLogo
{
    position: absolute;
    width: 38x;
    height: 38px;
    left: 100px;
    top: 16px;
    z-index: 1;
}

.emailText 
{
    position: absolute;
    width: 127px;
    height: 33px;
    left: 826px;
    top: 294px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.emailInput
{
    position: absolute;
    width: 506px;
    height: 70px;
    left: 826px;
    top: 327px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.passwordText 
{
    position: absolute;
    width: 127px;
    height: 33px;
    left: 826px;
    top: 433px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #313131;
}

.passwordInput
{
    position: absolute;
    width: 506px;
    height: 70px;
    left: 826px;
    top: 466px;

    background: #FFFFFF;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 15px;
}

.forgotPassword
{
    position: absolute;
    width: 205px;
    height: 27px;
    left: 1127px;
    top: 547px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}

.lines
{
    position: absolute;
    width: 505px;
    height: 1px;
    left: 826px;
    top: 750px;
}

.orText
{
    position: absolute;
    width: 19px;
    height: 27px;
    left: 1070px;
    top: 736px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.2);
}