
body {
    position: relative;
    width: 1920px;
    height: 1024px;
    background: #FFFFFF;
}

/* navigation */

.logo img {
    position: absolute;
    width: 242.67px;
    height: 160px;
    left: 0px;
    top: 16.33px;
}

.nav-left {
    position: absolute;
    width: 426.67px;
    height: 40px;
    left: 300px;
    top: 35px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600; /* 600 looked too thick in this page, idk why*/
    font-size: 24px;
    line-height: 33px;
}

    .nav-left li {
        display: inline;
        margin-left: 50px;
    }


.top-upload-button {
    position: absolute;
    width: 98.67px;
    height: 98.67px;
    left: 935px;
    top: 24px;
}

nav-right {
    position: absolute;
    width: 398.67px;
    height: 117.33px;
    left: 1474.67px;
    top: 29.67px;
}

.nav-right li {
    display: inline;
    margin-left: 50px;
}

#Balance {
    position: absolute;
    width: 132px;
    height: 40px;
    left: 1317px;
    top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
}

#bell {
    position: absolute;
    width: 62.67px;
    height: 60px;
    left: 1470.67px;
    top: 42px;
    opacity: 0.7;
}

#profile-pic img {
    position: absolute;
    width: 117.33px;
    height: 117.33px;
    left: 1756px;
    top: 29.67px;
    background: url(.png);
    border-radius: 50%;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    /* Rectangle at top bar */
    position: absolute;
    width: 1920px; /*for some reason it looks shifter to the right in my laptop*/
    height: 225.33px;
    left: 0px;
    top: -49px;
    background: linear-gradient(290.51deg, #7242F2 3.54%, #9969F5 91.26%);
    border-radius: 30px;
}

/* Survey blocks */
survey-box {
    /* Rectangle for survey block */
    position: absolute;
    width: 954px;
    height: 481px;
    left: 491px;
    top: 273px;
    background: #DFF0F4;
    border-radius: 30px;
}
.survey-block {
    font-style: normal;
    color: #371294;
}
.surveyTitle {
    position: absolute;
    width: 406.59px;
    height: 54.09px;
    left: 556.87px;
    top: 319.36px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 116.66%;
    /* or 56px */
}
.surveyText {
    position: absolute;
    width: 545.14px;
    height: 135.22px;
    left: 556.87px;
    top: 400px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 116.66%;
    /* or 28px */
}
.surveyStatus {
}
.credit {
    line-height: 116.66%;
    /* or 28px */
    display: flex;
    align-items: center;
    color: #371294;
}
.creditText {
    position: absolute;
    width: 136.29px;
    height: 46.36px;
    left: 1245.11px;
    top: 446.85px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 116.66%;
    /* or 28px */
    display: flex;
    align-items: center;
}
.duration {
    position: absolute;
    width: 136.29px;
    height: 46.36px;
    left: 1245.11px;
    top: 446.85px;
    line-height: 116.66%;
    /* or 28px */
    display: flex;
    align-items: center;
}
#clock-img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1154.26px;
    top: 446.85px;
    background: #371294;
}
.timeText {
    position: absolute;
    width: 136.29px;
    height: 46.36px;
    left: 1245.11px;
    top: 446.85px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 116.66%;
    /* or 28px */
    display: flex;
    align-items: center;
}
.maxParticipants {
    position: absolute;
    width: 79.5px;
    height: 46.36px;
    left: 1245.11px;
    top: 502.88px;
    line-height: 116.66%;
    /* or 28px */
    display: flex;
    align-items: center;
}
#people-img {
    position: absolute;
    left: 60.12%;
    right: 37.28%;
    top: 49.11%;
    bottom: 46.01%;
    background: #371294;
}

.interactive {
    position: absolute;
    width: 240.77px;
    height: 46.36px;
    left: 1131.54px;
    top: 647.75px;
}

.lower-button {
}

.skipBtn {
    position: absolute;
    width: 260px;
    height: 80px;
    left: 557px;
    top: 792px;
    background: #7242F2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.doItBtn {
    position: absolute;
    width: 260px;
    height: 80px;
    left: 1112px;
    top: 792px;
    background: #7242F2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}